script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/what-input/dist/what-input.js")
script(src="bower_components/foundation-sites/dist/js/foundation.js")
script(src="js/min/app-min.js")
