doctype html
html(class="no-js" lang="en")
  include partials/_head

  body
    include partials/_header

    .box.user-top
      .row
        .small-12.medium-3.columns
          .linked-in-logo
            p Logo
        .small-12.medium-9.columns.user-name-container
          .wrapper
            p.user-title Senior Front-End Developer
            h2.user-name Jessica Smith

    .row
      .small-12.medium-9.columns
        .row
          .small-12.medium-8.medium-offset-4.columns
            .box.user-meta
              .profile-picture
              .current-job
              hr
              .previous-experience
              hr
              .links
          .small-12.medium-3.medium-offset-1.columns
            .box.shortcuts
          .small-12.medium-8.columns
            .box.experience

      .small-12.medium-3.columns
        .small-12.columns
          .box.join-now
            p Is Jessica your colleague?
        .small-12.columns
          .box.others-viewed

    include partials/_foot
