doctype html
html(class="no-js" lang="en")
  include partials/_head

  body
    include partials/_header

    .row
      .small-12.medium-2.columns
        .linked-in-logo
      .small-12.medium-10.columns
        p.user-title Senior Front-End Developer
        p.user-name Jessica Smith

    include partials/_foot
