doctype html
html(class="no-js" lang="en")
  include partials/_head

  body
    include partials/_header

    .row.user-top
      .small-12.medium-2.columns
        .linked-in-logo
      .small-12.medium-10.columns.user-name-container
        p.user-title Senior Front-End Developer
        h2.user-name Jessica Smith

    include partials/_foot
